DEPLOYER_PRIVATE_KEY=0xYOUR_MONAD_TESTNET_PRIVATE_KEY
MONAD_TESTNET_RPC=https://testnet-rpc.monad.xyz
MONADSCAN_URL=https://testnet.monadscan.com
MODEL_REGISTRY_ADDRESS=0xDEPLOYED_MODEL_REGISTRY_ADDRESS
